  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    /* font-family: 'Tilt Neon', sans-serif; */
    font-family: 'Inter';
    overflow-x: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }